nav {
  position: absolute;
  width: 100vw;
}

nav div {
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}

nav a {
  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}
