<% include layout_head.ejs %>
  <div class="page-home">

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/k91uCW7ypuU" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Jakob Unnebäck - Filmmaker - Programmer </h2>
        <p>
          Hej jag heter Jakob Unnebäck och gör video och webutveckling inom <a href="http://ungautvecklare.com" target="_blank">Unga Utvecklare.</a>
          Behöver du filma ett
          evenemang eller göra en video men inte har expertisen eller
          utrustningen? Jag gör enkla helhetslösningar med allt från filming,
          editering och color grading i ett paket. Jag har goda kunskaper inom
          specialeffekter och motion design där jag gör saker som
          interaktiva titlar och övergångar. Klicka på <a href="/me">me</a> om du vill veta mer om mig eller <a href="/explore">explore</a> om du vill se några projekt jag gjort.
        </p>

        <a class="email" href="mailto:jakob@folkdatorn.se"> Email me! </a>
      </div>
    </div>

    <div class="arrow">
      <div></div>
      <div></div>
      <div></div>
      <a class="youtube" href="https://www.youtube.com/channel/UCCJYvII7eONZHDIVTjn2ZMg?spfreload=10" target="_blank"> Youtube! </a>
      <div class="fill"></div>
    </div>

    <div class="lower-flex">
      <div class="wide-image" id="gear">
        <h2>Redo för din 4K produktion</h2>
      </div>
      <p>
        Jag har verktygen och expertisen som krävs för en professionell slutprodukt. Från en kapabel 4k 100Mbps mirroless kamera, en klar och tydlig mic till en DJI Phantom drönare med 2 axis gimbal.
      </p>
      <p>
        Jag har flera års erfarenhet och kommer från en bakgrund av specialeffekter och motion graphics. Det resulterar i en skräddarsydd produkt utformad efter dina behov i form av skarp artistisk video med titlar och grafik efter din stil.
      </p>
      <div class="icon-container">
        <div>
          <img src="/img/icons/camera.svg" />
          <h3> Panasonic Lumix G7 </h3>
        </div>
        <div>
          <img src="/img/icons/lenses.svg" />
          <h3> Wide lens selection </h3>
        </div>
        <div>
          <img src="/img/icons/mic.svg" />
          <h3> RØDE Video mic pro </h3>
        </div>
        <div>
          <img src="/img/icons/steadycam.svg" />
          <h3> Steadycam </h3>
        </div>
        <div>
          <img src="/img/icons/phantom.svg" />
          <h3> DJI Phantom drone </h3>
        </div>
    </div>
    <a href="http://ungautvecklare.com" target="_blank">
      <img class="uu" src="/img/uu.png">
    </a>
    </div>
  </div>


<% include layout_foot.ejs %>
