
<% include layout_head.ejs %>

<main>

  <p>
    Hej, jag heter Jakob Unnebäck. Jag är en självlärd filmregissör med goda
    kunskaper inom specialeffekter, compositionering och editering. Jag började arbeta
    med filmer för några år sedan och har sedan dess lärt mig mer än jag någonsin kunnat
    trott. Jag har fått mycket inspiration från många amerikanska actionfilmer och serier.
    Jag startade snabbt en youtubekanal där jag lade upp action- och
    specialeffekt-relaterade videos. Videorna var mycket simpla i början men eftersom
    intresset var stort vart jag snabbt bättre. Internet har hjälpt mig så sjukt mycket
    och jag har lärt mig det mesta från onlinelektioner och många sena kvällar då jag
    lekt runt med programmen.
  </p>

  <p>
    I nuläget arbetar jag med flera filmprojekt till min youtubekanal och utöver
    det regisserar jag en videopodcast samt diverse projekt till folk som behöver
    hjälp.
  </p>

  <p class="filmstrip">
    <img src="filmstrip.png" style="height: 200px;">
  </p>

  <p>
    Skulle du behöva filma samt redigera en kortfilm eller dokumentera ett event
    men inte har kunskapen, rätt mjukvara eller utrustning? Inga problem, jag kan
    hjälpa er med en enkel helhetslösning med allt från filmning, redigering,
    color grading och mycket mer till att slutligen ha en färdig produkt.
  </p>

  <p class="clearfix photos">
    <img class="pics" src="grass.jpg" style="width: 220px; -webkit-transform: rotate(11deg);">
    <img class="pics" src="phantom.jpg" style="width: 220px; -webkit-transform: rotate(-6deg);">
    <img class="pics" src="jakob.jpg" style="width: 220px; -webkit-transform: rotate(4deg);">
    <img class="pics" src="camera.jpg" style="width: 220px; -webkit-transform: rotate(7deg);">
  </p>

  <p>
    Om du har några frågor kontakta mig på <a href="mailto:jakob@folkdatorn.se">jakob@folkdatorn.se<a>
  </p>
</main>

<% include layout_footer.ejs %>
