<% include layout_head.ejs %>
  <div class="page-home">
    <iframe width="600" height="337,5" src="https://www.youtube.com/embed/ez9fFes8vKA" frameborder="0" allowfullscreen></iframe>
    <div class="description">
      <h2> Jakob Unnebäck - Filmmaker </h2>
      <p>
        Hej, jag gör filmer åt företag och privatpersoner. Behöver du filma ett
        evenemang eller göra en video men inte har expertisen eller
        utrustningen? Jag gör enkla helhetslösningar med allt från filming,
        editering, color grading i ett paket. Jag har även goda kunskaper inom
        special effekter och motion design där jag kan göra saker som
        interaktiva titlar och övergångar.
      </p>

      <a class="email" href="mailto:jakob@folkdatorn.se"> Email me! <img src="mail.png"> </a>
    </div>
    <div class="arrow">
      <div></div>
      <div></div>
      <div></div>
      <a class="youtube" href="https://www.youtube.com/channel/UCCJYvII7eONZHDIVTjn2ZMg?spfreload=10"> Youtube! <img src="youtube.png"> </a>
      <div class="fill"></div>
    </div>
    <img class="filmstrip" src="filmstrip.png">
  </div>


<% include layout_foot.ejs %>
