<% include layout_head.ejs %>
  <div class="page-home">

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/iT2jln9QzNs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Jakob Unnebäck - Filmmaker - Programmer </h2>
        <p>
          Hej jag heter Jakob Unnebäck och gör video och webutveckling inom <a href="http://ungautvecklare.com" target="_blank">Unga Utvecklare.</a>
          Behöver du filma ett
          evenemang eller göra en video men inte har expertisen eller
          utrustningen? Jag gör enkla helhetslösningar med allt från filming,
          editering och color grading i ett paket. Jag har goda kunskaper inom
          specialeffekter och motion design där jag gör saker som
          interaktiva titlar och övergångar. Klicka på <a href="/me">me</a> om du vill veta mer om mig eller <a href="/explore">explore</a> om du vill se några projekt jag gjort.
        </p>

        <a class="email" href="mailto:jakob@folkdatorn.se"> Email me! </a>
      </div>
    </div>

    <div class="arrow">
      <div></div>
      <div></div>
      <div></div>
      <a class="youtube" href="https://www.youtube.com/channel/UCCJYvII7eONZHDIVTjn2ZMg?spfreload=10" target="_blank"> Youtube! </a>
      <div class="fill"></div>
    </div>

    <img class="filmstrip" src="/img/filmstrip.png">

    <a href="http://ungautvecklare.com" target="_blank">
      <img class="uu" src="/img/uu.png">
    </a>

  </div>


<% include layout_foot.ejs %>
