<% include layout_head.ejs %>
  <div class="page_me">
    <img src="img/web.png" class="wide"/>
    <p>
      Hej, mitt namn är Jakob Unnebäck. Jag har ett stort intresse för
      film och specialeffekter. Allt började när jag såg första Harry Potter
      filmen. Jag blev inspirerad av möjligheten att göra vad
      som helst verkligt igenom film och det är än idag en stor drivkraft.
    </p>
    <p>
      Jag
      började göra simpla videos med kompisar och startade snart därefter en
      youtube kanal. Kanalen gjorde datorspels-inriktade videos med mycket
      specialeffekter och att göra videos där har verkligen hjälpt mig.
    </p>

    <div class="imgbox">
      <div><img src="img/fff.png" class="badge"/></div>
      <div><img src="img/youtube.png" class="badge"/></div>
    </div>
    <p>
      Sedan
      dess har jag gjort en mängd videoprojekt till olika personer och utöver
      det startat en videopodcast. Jag gör även musik och mycket av musiken från
      mina videos är min egen. Idag har jag lärt mig mer än jag någonsin kunnat
      tro och trots det lär jag mig nya saker varje dag. Att göra videos är min
      passion och det jag lever för.
    </p>
    <div class="links">
      <a href="https://soundcloud.com/3djakob" target="_blank"> Sound Cloud </a>
      <a href="https://www.youtube.com/3djakob" target="_blank"> Five Foot Films </a>
      <a href="https://www.youtube.com/channel/UCl4yZiR-e9j1WvQo3-n1Juw?&ab_channel=Pellespodcast" target="_blank"> Pelles Podcast </a>
    </div>
  </div>
<% include layout_foot.ejs %>
