<% include layout_head.ejs %>
  <div class="page-explore">

    <h1> Tidigare projekt </h1>
    <p class="ingress">
      Här är några av mina tidigare projekt, många finns dock inte
      tillgängliga på youtube.
    </p>

    <img class="filmstrip" src="/img/filmstrip.png">

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/4zIY3JARgT8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Mt. Rigi 4K </h2>
        <p>
          Här filmade jag en video av en resa jag och mina vänner gjorde till
          berget Rigi i Schweiz Här bestämde jag mig för att testa göra några
          nya kreativa övergångar och slutresultatet blev mycket bra.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/E-jXEz62Pbs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Flipinator - Yoump </h2>
        <p>
          Här är ett sammarbete med min goda parkour vän Filip och den nyöppnade
          trampolinparken yoump i västerås. Vi fick komma dit innan öppning och
          filma videon och den blev i slutändan riktigt bra.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/Nhj0h-zFY94" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Flipinator - Freerunning at Scoutus 2016 </h2>
        <p>
          Här tog jag med en 500kr action kamera och en steady cam till ett
          scoutläger och jag och min vän Filip bestämde oss för att filma en
          parkour video. Videon är verkligen ett bevis för hur långt man kan
          komma med lite utrustning. Eftersom vi inte hade tillgång till el fick
          vi använda oss av naturligt ljus på ett väldigt kreativt sätt.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/MhQpTH0nSwU" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Produktutveckling på expectrum </h2>
        <p>
          Här filmade jag expectrums påsklovsaktivitet där de utvecklade
          framtidens cykel för att fira att västerås cykelklubb fyllt 100 år.
          Här ingick det även att designa introanimationen och 3D dynamiska
          titlar.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/UDL2sbmB78c" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Lunch@Expectrum med Christina Bengtsson </h2>
        <p>
          Här filmade jag en video under Expectrums Lunch@expectrum evenemang.
          Lunch@expectrum är ett evenemang där folk från näringslivet kan
          träffas och byta idéer. Här föreläste Christina Bengtsson om konsten
          att fokusera. Det här var även ett av de första projekten jag filmade
          och släppte i 4k upplösning.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/1uXPsDHc_Cs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Expectrum sportlov strawbees </h2>
        <p>
          Under sportlovsveckan hade expectrum ett evenemang där alla var
          välkomna att bygga. Jag var på plats och filmade under en dag för att
          sätta ihop denna video.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/Upe65nmb7ns" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> TimeTracer UF - Årets hantverk </h2>
        <p>
          <a href="http://timetraceruf.se" target="blank">TimeTracer UF</a> är
          ett företag som jag och några vänner driver där vi utvecklar en app.
          Vi skulle göra ett bidrag till årets hantverkstävling och då var det
          självklart att jag kunde ställa upp med en video.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/K5LOHuGCikU" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Flipinator - Winter Parkour 2016 </h2>
        <p>
          Jag och min goda vän Filip. Förenade våra kunskaper och gjorde ennu än
          parkour video. Att göra den här videon var ingen lätt utmaning med
          väldigt kallt väder och långa filmningar. Mot alla ods blev det dock
          en otrolig video.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/0nUpqJBo99M" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Expectrum Julverkstad 2015 </h2>
        <p>
          Här filmade jag ännu ett Expectrum evenemang, men den här gången deras
          Julverkstad. Videon skapades för att ge en snabb inblik över vad som
          skedde.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/4m1lBGPOy2o" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Julmingel Expectrum 2015 </h2>
        <p>
          Här filmade jag en video om Expectrums julmingel. Under julminglet var
          det bland annat föreläsningar och mingel för folk att byta idéer. För
          att skapa mer inlevelse på platsen använder jag mig av mycket
          kamerarörelse.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/Ko9kjSJKRS0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Lunch@expectrum 2015 </h2>
        <p>
          Här filmade jag en video under Expectrums Lunch@expectrum evenemang.
          Lunch@expectrum är ett evenemang där folk från näringslivet kan
          träffas och byta idéer. Det här är ett typiskt exempel på event
          filmning där timing är allt.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/gGBTyrkQ-nk" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Expectrum First Lego League 2015 </h2>
        <p>
          Här är en video jag gjorde åt Expectrum på First Lego League vilket
          är en tävling då ungdomar tävlar med lego robotar. Under dagens gång
          gjorde jag två videos var av den här är den första. Att producera två
          videos under evenemanget var en stor utmaning. Men resultatet blev
          mycket bra.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/80Ca3jV40y4" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Expectrum First Lego League 2015 Final match </h2>
        <p>
          Här är finalmatchen från Expectrums First Lego League. Den här viden
          var den andra videon jag redigerade och släppte direkt på plats.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/6NAGFwEbqGc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Flipinator - Summer Parkour 2015 </h2>
        <p>
            Tillsammans med min goda parkour vän Filip gjorde vi en parkourvideo
            utan dess like. Under flera filmningar samlade vi material för en
            grym video.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/r0KWrlX25kM" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> DJI Phantom showreel 2015 </h2>
        <p>
            Lite videomaterial från min quadcopter jag filmade under några
            sommardagar.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/sy3_icm2Mq0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Sommartid </h2>
        <p>
            Här är några klipp jag filmade och redigerade en sommardag.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/-AKxCuNvO0w" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> DJ Darian promo video </h2>
        <p>
            Här är en intro video jag gjorde åt en lokal DJ. Videon var ett sätt
            för honom att visa sig för världen och upplägget är mycket kraftfullt
            och kan tilllämpas till många typer av behov.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/-TTtE5h-iy8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> ABB 20 år </h2>
        <p>
            Det här är en video jag gjorde åt ABB industrigymnasium på deras 20
            års jubileum.
        </p>
      </div>
    </div>

    <h1> Mina projekt </h1>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/etHzsPrwa0Y" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Pelles Podcast </h2>
        <p>
            Pelles Podcast är en videopodcast som jag är med i och editerar.
            Podcasten har ett väldigt brett koncept där vi även gör saker som
            tävlingar och sketcher.
        </p>
      </div>
    </div>

    <div class="video-and-description">
      <div class="video">
        <iframe width="600" height="337,5" src="https://www.youtube.com/embed/ez9fFes8vKA" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        <h2> Five Foot Films </h2>
        <p>
            Five Foot Films var min första youtube kannal och det som startade
            intresset. Här lägger jag och min kompis upp datorspels inspirerade
            action videos med special effekter i fokus.
        </p>
      </div>
    </div>

  </div>
<% include layout_foot.ejs %>
