body {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  background-color: #78D1E6;
}

nav {
  height: 100px;
  width: 960px;
  margin: 0 auto;
}

nav a {

  float: left;
  width: 320px;
  height: 100px;

  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 14pt;

  color: #DADEC1;
  text-decoration: none;

  overflow: hidden;
  position: relative;
  z-index: 1;

}

nav a::before {

  content: '';
  display: block;

  z-index: -1;
  position: absolute;

  width: 340px;
  height: 340px;
  margin-top: -120px;
  margin-left: -10px;

  border-radius: 170px;
  background-color: rgba(255, 255, 255, 0);

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

}

nav a:hover::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.2);
}

#banner {
  background: url(/banner.jpg) 0;
  min-height: 200px;
  margin: 0px;
  width: 100%;
  background-position: top, center;
  background-size: cover;
  background-repeat: no-repeat;
}

img.icon {
  width: 70px;
  height: 70px;
  margin: 0 125px;
}
