div.page-home {
  width: 1200px;
  margin: auto;
  margin-top: 0;

}

.page-home h2 {
  line-height: 20px;
}

.page-home a.email {
  width: 400px;
  height: 100px;
  line-height: 100px;
  float: left;
  text-align: center;
  font-family: oleo script;
  font-size: 22pt;
  color: white;
  background-color: #84D0E5;
  margin-left: -21px;
  margin-top: 4px;
  border-radius: 0 2px 2px 0;
  text-decoration: none;
}

.page-home a.email img {
  width: 200px;
  heigth: 100px;
  float: right;
  display: inline block;
}

.page-home div.arrow {
  background-color:;
  margin: -80px auto 0 200px
}

.page-home div.arrow div:first-child {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #DC7417 transparent transparent;
}

.page-home div.arrow div:nth-child(2) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: transparent transparent transparent #DC7417;
  postion: relative;
  margin: -100px 0 0 141px;
}

.page-home div.arrow div:nth-child(3) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #DC7417 transparent transparent;
  postion: relative;
  margin: 0 0 0 100px;
}

.page-home div.arrow div.fill {
  width: 41px;
  height: 100px;
  background-color: #DC7417;
  margin: -200px 0 0 100px;
}

.page-home a.youtube {
  width: 400px;
  height: 100px;
  float: left;
  line-height: 100px;
  text-align: center;
  font-family: oleo script;
  font-size: 22pt;
  color: white;
  background-color: #DC7417;
  margin: -100px 0 0 200px;
  border-radius: 0 2px 2px 0;
  text-decoration: none;
}

.page-home a.youtube img {
  width: 200px;
  heigth: 100px;
  float: right;
  display: inline block;
}

.page-home img.filmstrip {
  width: 1184px;
  margin: 100px 8px;
}

.page-home img.hex {
  margin: 0 300px;
}
