
.filmstrip {
  margin-left: -112px;
  margin-right: -112px;
  text-align: center;
}

.filmstrip img {
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
}

p {
  margin: 48px 0;
}

img.pics {
  display: block;
  float: left;
  margin: 0;
  border: 10px white solid;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
}

p.photos {
  margin: 64px 0;
}


main {
  overflow: visible;
}
